/node_modules
/public/hot
/public/storage
/public/upload
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/部署文档说明
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
